header, footer { 
    text-align: center;
    padding: 1em; 
}

h1{
    font-size: xxx-large;
    text-shadow: 5px 5px 5px #ff00005e;
}

html {
    background-image: linear-gradient( rgba(95, 207, 118, 0.644),20%, rgba(196, 129, 135, 0.733));
    background-size: auto;
}

canvas { 
    border: 20px solid rgb(12, 122, 76);
}

.outer{
    padding: 20px;
    text-align: center
}

.startBtn button {
    background-color: rgb(190, 199, 191);
    border: none;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
    letter-spacing: 4px;
    color: rgb(61, 58, 58);
    margin-left: 640px;
}
.food {
    background-image: url(../img/apple.png);
    background-size: cover;
}

